<div class="content-space">
      <img class="cabinet__image" src="http://placehold.it/1350x768">
      <div class="sub-image-core">
      <img class="cabinet__image" src="http://placehold.it/700x600">
      </div>
</div>