.picklistbox {
  width: 100px;
  height: 200px;
  border: 1px solid black;
  display: inline-block;
  vertial-align: top;
}

.clickable {
  background-color:Azure;
  border-bottom:1px dotted Gray;
}

.dragdrop {
  background-color:GoldenRod;
}