<%= simple_form_for @category, html: { multipart: true } do |f| %>
  <%= f.error_notification %>

<%= f.input :name %>

  <div class="col-md-4 col-md-push-2 center-div">
    <%= f.button :submit, ( f.object.new_record? ? "Crear" : "Actualizar"), {class: 'btn btn-success btn-block'} %>
  </div>
<% end %>